ul{
    font-style: oblique;
}
h1 {
    color: rgba(235, 7, 7, 0.496);
}

h2 lion{
 color:  yellow;
 
}

g{
    font-style: italic;
    font-size: larger;
}
body{
    background-color:rgba(235, 7, 7, 0.496);
    border-radius: 5%;
}
img{
    border-radius: 50pt;
}